- name: Generate vm name
  set_fact:
    vm_name: "{{ '-'.join(('meerkat', lookup('community.general.random_string', length=5, special=false, upper=false) )) }}"

- name: List of vm names
  set_fact:
    vm_list: "{{ vm_list | default([]) + [  vm_name | string] }}"

- name: set flavor
  set_fact:
    vm_flavor: "{{ item.0 }}"

- name: set image
  set_fact:
    vm_image: "{{ item.1 }}"

- name: Print creation info
  debug:
    msg:
      - "Creating:"
      - "Flavor: {{ vm_flavor }}"
      - "Image: {{ vm_image }}"

- name: create VM
  os_server:
      flavor: "{{ vm_flavor }}"
      image: "{{ vm_image }}"
      name: "{{ vm_name }}"
      key_name: "{{ key_name }}"
      state: present
      network: Internal
      auto_ip: no
      timeout: 400
  register: vm_info

- name: Get IP address of VM
  set_fact:
    vm_IP: "{{ vm_info.openstack.addresses.Internal[0].addr }}"

- name: Add VM to hosts
  add_host:
    name: "{{ vm_IP }}"
    groups: VMs

- name: Wait until VM is up
  wait_for: 
    port: 22
    host: "{{ vm_IP }}"
  delegate_to: localhost

