#!/bin/bash
set -euo pipefail

# VM info
FLAVOR="{{ flavor }}"
IMAGE="{{ image }}"


NUM_CORES=$(nproc)
CPU_NAME=$(lscpu | grep 'Model name' | cut -f 2 -d ":" | awk '{$1=$1}1' | tr " " _)

RESULTS_FILE="results/*/HEPscore23Beta.json"

START_TIME=$(jq '.environment.start_at' $RESULTS_FILE | tr -d '"' | { read d; date -d "$d" +"%s" ; })
END_TIME=$(jq '.environment.end_at' $RESULTS_FILE | tr -d '"' | { read d; date -d "$d" +"%s" ; })

RUN_TIME=$((END_TIME - START_TIME))

SCORE=$(jq '.score' $RESULTS_FILE)

DB="https://{{ db_ip }}:{{ db_port }}/write"

curl -H "Authorization: Basic `echo -n "{{ db_username }}:{{ db_password }}" | base64`" -d 'hepscore,flavour='$FLAVOR',image='$IMAGE' score='$SCORE',run_time='$RUN_TIME'' -X POST $DB
